body{
    /* Google Fonts */
    font-family: 'Poppins', sans-serif;
}
/* Common Classes */
.dark-text{
    color: #1B2E35;
}
.input-style{
    width: 229px;
    height: 44px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 90px;
}
.input-heading{
    font-size: 22px;
    margin: 50px auto 30px 270px;
    font-weight: 500;
}

/* Header Section */
header{
    margin-top: 37px;
}

/* Main Section */
main{
    /* text-align: center; */
    margin: 38px 100px 65px 100px;
}

/* Image Section */
.image img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 815px;
}

/* Calculation Section */
.calculation{
    width: 542px;
    height: 815px;
    background-color: #D5F8E7;
}

.income-input{
    margin-left: 144px;
    margin-top: 25px;
}
.input-text{
    width: 65px;
    height: 21px;
    font-weight: 400;
    align-self: center;
}
.expenses-heading{
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 268px;
    margin-right: 196px;
}
.calculate-button{
    background: #59E4A8;
    color: #ffff;
    font-weight: 700;
    width: 199px;
    height: 51px;
    margin-top: 25px;
    margin-left: 240px;
}
.total-expenses{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 230px;
    margin-bottom: 25px;
}
.balance{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 34px;
    margin-left: 260px;
}
.saving{
    padding-left: 130px;
    align-items: center;
}
.saving-button{
    background: #59E4A8;
    color: #ffff;
    font-weight: 700;
    width: 173px;
    height: 44px;
    margin-left: 15px;
}
.saving-input{
    width: 132px;
    height: 44px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
}
.saving-amount{
    font-size: 22px;
    font-weight: 500;
    margin-top: 34px;
    margin-bottom: 15px;
    margin-left: 230px;
}
.remaining-balance{
    font-size: 22px;
    font-weight: 500;
    margin-left: 215px;
    margin-bottom: 38px;
}
.notify {
    color: #1B2E35;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    padding: 0 20px;
    display: none;
}
.notify-section{
    margin: 0 auto;
}
@media (max-width: 768px ) {
    .image{
        width: 100%;
    }
    .calculation{
        max-width: 50%;
    }
    .input-heading{
        margin-left: 0;
    }
    .input-text{
        margin-left: 0;
        padding-left: 0;
    }
}